.catalog__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
}

.catalog__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.сatalog__filters {
  width: 289px;
}

.catalog__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.catalog__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.catalog__items__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
