:root {
  --main-color: #2b4c7e;
  --black-color: #2c2c2c;
  --blue-bright-color: #3b82f6;
  --blue-bright1-color: #0950c4;
  --blue-color: #6788ba;
  --white-gray-color: #f5f6ff;
  --blue-light-color: #b2c8e3;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto';
  font-weight: 400;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1256px;
  width: 100%;
}

.btn-reset {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-family: 'Roboto';
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link-reset {
  color: #000;
  text-decoration: none;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Roboto-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Roboto-Bold.ttf') format('truetype');
}

.overflow-hidden {
  overflow-y: hidden;
  padding-right: 9.5px;
}

.overflow-mobile-hidden {
  overflow-y: hidden;
}

.overlay {
  background: rgba(43, 76, 126, 0.4);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  opacity: 0;
  width: 100%;
  z-index: 205;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.overlay-active {
  pointer-events: auto;
  opacity: 0.6;
  z-index: 205;
}

.align-items-center {
  display: flex;
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--main-color) !important;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--blue-light-color);
}

p {
  margin: 0;
}

.default_button {
  padding: 20px 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 61px;
  border-radius: 10px;
  background-color: var(--blue-bright-color);
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.default_button:hover {
  background-color: var(--blue-bright1-color);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
}

.default_button:active {
  background-color: var(--main-color);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
}

.no-scroll {
  overflow: hidden;
}

.logo__icon {
  color: var(--main-color);
}

.logo__icon:hover {
  color: var(--blue-bright-color);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
}
