.full-width-line-wrapper {
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: -100;
}

.full-width-line {
  background-color: var(--main-color);
  border-radius: 10px;
  height: 188px;
  z-index: -100;
}
