.request-form-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.main-form {
  position: relative;
  height: 100%;
  margin-bottom: 150px;
  /* Scroll offset для учета fixed header */
  scroll-margin-top: var(--scroll-total-offset);
}

.full-width-line-form {
  bottom: -2px;
}
