.catalog {
  position: relative;
  margin-bottom: 150px;
}

.catalog__sort {
  position: relative;
  z-index: 24;
}

.catalog__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
}

.catalog__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.catalog__filters {
  width: 289px;
}

.catalog__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.catalog__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.catalog__items__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.MuiPaginationItem-ellipsis:hover {
  background-color: transparent !important;
}

-MuiPaginationItem-root.Mui-selected {
  background-color: var(--main-color) !important;
}

.empty_product_img {
  width: 289px;
  height: 220px;
  object-fit: cover;
  position: absolute;
}

@media screen and (max-width: 1255px) {
  .catalog__content {
    justify-content: center;
  }
  .empty_product_img {
    width: 314px;
    height: 220px;
  }
  .catalog__mobile-management {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .catalog__mobile-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .catalog__head {
    margin: 0;
  }
}

@media screen and (max-width: 1024px) {
  .catalog__items__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .empty_product_img {
    width: 354px;
    height: 220px;
  }
}

@media screen and (max-width: 768px) {
  .catalog__items__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .empty_product_img {
    width: 440px;
    height: 280px;
  }
  .catalog__mobile-wrapper {
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
  }
  .catalog__mobile-management {
    gap: 79px;
  }
}

@media screen and (max-width: 480px) {
  .empty_product_img {
    width: 320px;
    height: 220px;
  }

  .catalog__mobile-management {
    flex-direction: column;
    gap: 20px;
  }
}
