.info {
  margin-bottom: 150px;
  position: relative;
  overflow: hidden;
}

.info__main__title {
  font-size: 50px;
  font-weight: 700;
  line-height: 59px;
  width: 598px;
  margin-bottom: 20px;
  margin-top: 0;
}

.info__main__subtitle {
  font-weight: 600;
  font-size: 26px;
  width: 598px;
  margin-bottom: 40px;
  margin-top: 0;
}

.info__main {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 53px;
}

.info__main__right {
  position: absolute;
  right: 0;
  top: 0;
}

.info__benefit {
  display: flex;
  align-items: center;
  height: 188px;
  position: relative;
  overflow: hidden;
}

.info__benefit__item {
  display: flex;
  flex-direction: row;
  color: #fff;
  gap: 5px;
}

.info__benefit__item__img {
  width: 24px;
  height: 24px;
}

.info__benefit__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.full-width-line {
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: var(--main-color);
  width: 100vw;
  border-radius: 10px;
  height: 100%;
  z-index: -100;
  overflow: hidden;
}
